$desktop:1200px;
$labtop:1024px;
$tablet:768px;
$phone:480px;


.image-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 4%;
    @media screen and (max-width:1040px) {
        flex-direction: column;
        align-items: center;
    }
}

.image-section-title {
    display: flex;
    flex-basis: content;
    justify-content: center;
    /* line 15-17 is to make the context center while your mouse hover on negative space the animation won't go off */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 32px;
    color:  rgb(74, 118, 69);
    margin-top: 5%;
}

.image-section-title:hover{
    animation-name: change-color;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .25px;
    font-weight: bolder;
    
}

@keyframes change-color {
    15% { color: #314D74; text-shadow: 0px 0px 25px #314D74}
    25% {color: #CC8237; text-shadow: 0px 0px 25px #CC8237}
    50% {color: #B6C9B5; text-shadow: 0px 0px 25px #B6C9B5}
    100% {color: #C82423; text-shadow: 0px 0px 25px #C82423}
}

.sunflower-image-container{
    position: relative;
    height: 230px;
    width: 340px;
}

.sunflower-image-container:hover{
    .image-feature{
        color: white;
        text-shadow: 2px 1px 2px black, 0 0 20px black;
    }
}

.sunflower-image {
    height: inherit;
    width: inherit;
    border-radius: 8px;
    
}
.sunflower-image:hover{
    transform: scaleX(-1);
  
}

.sunflower-photographer {
    position: absolute;
    color: white;
    bottom: 8px;
    left: 16px;
}

.sunflower-title {
    position: absolute;
    color: white;
    bottom: 22px;
    left: 16px;
}
/*----------------------------*/
.park-image-container{
    position: relative;
    height: 230px;
    width: 340px;
}
.park-image-container:hover{
    .image-feature{
        color: white;
        text-shadow: 2px 1px 2px black, 0 0 20px black;
    }
}

.park-image {
    height: inherit;
    width: inherit;
    border-radius: 8px;
    
}

.park-image:hover {
    filter: saturate(6);

}

.park-photographer {
    position: absolute;
    color: white;
    bottom: 8px;
    left: 16px;
}

.park-title {
    position: absolute;
    color: white;
    bottom: 22px;
    left: 16px;
}
/*----------------------------*/
.brooklyn-bridge-image-container {
    position: relative;
    height: 230px;
    width: 340px;
    
}
.brooklyn-bridge-image-container {
    transition:  .5s ease;
}

.brooklyn-bridge-image-container:hover{
    
    transform: scale(1.09);
    .image-feature{
        color: white;
        text-shadow: 2px 1px 2px black, 0 0 20px black;
    }
}

.brooklyn-bridge-image {
    height: inherit;
    width: inherit;
    border-radius: 8px;
}


.brooklyn-bridge-photographer {
    position: absolute;
    color: white;
    bottom: 8px;
    left: 16px;
}

.brooklyn-bridge-title {
    position: absolute;
    color: white;
    bottom: 22px;
    left: 16px;
}


.image-feature{
    position: absolute;
    color: transparent;
    top: 10px;
    right: 16px;
    text-shadow: 5px 2px transparent;
}

